<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
        </handlers>
        <httpPlatform processPath="%JAVA_HOME%\bin\java.exe"
                    arguments="-Djava.net.preferIPv4stack=true -Dserver.port=%HTTP_PLATFORM_PORT% -jar %HOME%\site\wwwroot\app.jar"
                    stdoutLogEnabled="true"
                    stdoutLogFile="%HOME%\LogFiles\stdout.log">
        </httpPlatform>
    </system.webServer>
</configuration>